<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>阿丑托福</title>
		<link rel="stylesheet" type="text/css" href="../../assets/iconfont/iconfont.css"/>
		<link rel="stylesheet" type="text/css" href="../../assets/css/common/swiper-3.3.1.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../assets/css/global.css"/>
		<link rel="stylesheet" type="text/css" href="../../assets/css/layout.css"/>
	</head>

	<body>
		<!--header-->
		<div class="header-wrapper">			
			<div class="header">
				<div class="bg-hover"></div>
				<div class="head-content">
					<div class="logo">
						<a href="../index/index.html"><img src="../../assets/image/logo.png"/></a>
					</div>
					<div class="nav">
						<ul>
							<li><a href="../video/video.html">公开课</a></li>
							<li><a href="../infor/infor.html">资料</a></li>
							<li><a href="#">TOP练习</a></li>
							<li><a href="#">购买</a></li>
							<li><a href="#">关于我们</a></li>
						</ul>
					</div>
					<div class="login">
						<a href="#" class="btn-entry">登录</a>
						<a href="#" class="btn-enroll">注册</a>
					</div>
				</div>					
			</div>
			<div class="banner"><img src="../../assets/image/banner2.jpg"/></div>
		</div>
		
		<!--content-->
		<div class="content">
			<div class="infor-content">
				<div class="content-lft">
					<ul>
						<li class="active">
							<h3>练习资料</h3>
							<p><a href="javascript:;">阅读</a><span>|</span><a href="javascript:;">听力</a><span>|</span><a href="javascript:;">口语</a><span>|</span><a href="javascript:;">写作</a></p>
						</li>
						<li>
							<h4>经验分享</h4>
						</li>
						<li>
							<h4>机经</h4>
						</li>
					</ul>
				</div>
				<div class="content-rit">
					<div class="cont-list">
						<ul>
							<li><span>2017-05-17</span><a href="javascript:;">托福阅读10种题型详解、经验、方法论  </a></li>
							<li><span>2017-05-17</span><a href="javascript:;">托福阅读10种题型详解、经验、方法论  </a></li>
							<li><span>2017-05-17</span><a href="javascript:;">托福阅读10种题型详解、经验、方法论  </a></li>
							<li><span>2017-05-17</span><a href="javascript:;">托福阅读10种题型详解、经验、方法论  </a></li>
							<li><span>2017-05-17</span><a href="javascript:;">托福阅读10种题型详解、经验、方法论  </a></li>
						</ul>
					</div>
				</div>
			</div>	
		</div>
		
		<!--footer-->
		<div class="layout footer">
			<div class="container">
				<div class="layout">
					<div class="layout erwm">
						<img src="../../assets/image/code.jpg" />
					</div>
					<div class="layout columns">
						<h3>考试须知</h3>
						<ul>
							<li>
								<a href="javascript:;">雅思考试报名</a>
							</li>
							<li>
								<a href="javascript:;">雅思考试报名</a>
							</li>
							<li>
								<a href="javascript:;">雅思考试报名</a>
							</li>
							<li>
								<a href="javascript:;">雅思考试报名</a>
							</li>
						</ul>
					</div>
					<div class="layout columns">
						<h3>考试须知</h3>
						<ul>
							<li>
								<a href="javascript:;">雅思考试报名</a>
							</li>
							<li>
								<a href="javascript:;">雅思考试报名</a>
							</li>
							<li>
								<a href="javascript:;">雅思考试报名</a>
							</li>
							<li>
								<a href="javascript:;">雅思考试报名</a>
							</li>
						</ul>
					</div>
					<div class="layout columns">
						<h3>考试须知</h3>
						<ul>
							<li>
								<a href="javascript:;">雅思考试报名</a>
							</li>
							<li>
								<a href="javascript:;">雅思考试报名</a>
							</li>
							<li>
								<a href="javascript:;">雅思考试报名</a>
							</li>
							<li>
								<a href="javascript:;">雅思考试报名</a>
							</li>
						</ul>
						<li></li>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>