<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>阿丑托福</title>
		<link rel="stylesheet" type="text/css" href="../../assets/iconfont/iconfont.css"/>
		<link rel="stylesheet" type="text/css" href="../../assets/css/common/swiper-3.3.1.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../assets/css/global.css"/>
		<link rel="stylesheet" href="../../assets/css/layout.css" />
	</head>

	<body>
		<!--header-->		
		<div class="header-top">
			<div class="head-content">
				<div class="logo">
					<a href="../index/index.html"><img src="../../assets/image/logo.png"/></a>
				</div>
				<div class="nav">
					<ul>
						<li><a href="../video/video.html">公开课</a></li>
						<li><a href="../infor/infor.html">资料</a></li>
						<li><a href="../top/top.html">TOP练习</a></li>
						<li><a href="#">购买</a></li>
						<li><a href="#">关于我们</a></li>
					</ul>
				</div>
				<div class="login">
					<a href="#" class="btn-entry">登录</a>
					<a href="#" class="btn-enroll">注册</a>
				</div>
			</div>					
		</div>		
		
		<!--content-->
		<div class="top-content">
			<div class="top-list">
				<div class="btn-more">更多</div>
				<div class="title-list">
					<a href="#" class="on">TOP1</a>
					<a href="#">TOP2</a>
					<a href="#">TOP3</a>
					<a href="#">TOP4</a>
					<a href="#">TOP5</a>
					<a href="#">TOP6</a>
					<a href="#">TOP7</a>
					<a href="#">TOP8</a>
				</div>
				<div class="other-list">
					<a href="#">TOP9</a>
					<a href="#">TOP10</a>
					<a href="#">TOP11</a>
					<a href="#">TOP12</a>
					<a href="#">TOP13</a>
					<a href="#">TOP14</a>
					<a href="#">TOP15</a>
					<a href="#">TOP16</a>
					<a href="#">TOP17</a>
					<a href="#">TOP18</a>
					<a href="#">TOP19</a>
					<a href="#">TOP20</a>
					<a href="#">TOP21</a>
					<a href="#">TOP22</a>
					<a href="#">TOP23</a>
					<a href="#">TOP24</a>
				</div>
			</div>
			<div class="top-list-content">
				<div class="con-list">
					<h3>听力（清空记录）</h3>
					<ul>
						<li><a href="#">conversation 1</a></li>
						<li><a href="#">lecture 1</a></li>
						<li><a href="#">lecture 2</a></li>
						<li><a href="#">conversation 2</a></li>
						<li><a href="#">lecture 3</a></li>
						<li><a href="#">lecture 4</a></li>
					</ul>
				</div>
				<div class="con-list">
					<h3>口语（清空记录）</h3>
					<ul>
						<li><a href="#">Task 1</a></li>
						<li><a href="#">Task 2</a></li>
						<li><a href="#">Task 3</a></li>
						<li><a href="#">Task 4</a></li>
						<li><a href="#">Task 5</a></li>
						<li><a href="#">Task 6</a></li>
					</ul>
				</div>
				<div class="con-list">
					<h3>写作（清空记录）</h3>
					<ul>
						<li><a href="#">conversation 1</a></li>
						<li><a href="#">lecture 1</a></li>
						<li><a href="#">lecture 2</a></li>
						<li><a href="#">conversation 2</a></li>
						<li><a href="#">lecture 3</a></li>
						<li><a href="#">lecture 4</a></li>
						<li><a href="#">lecture 5</a></li>
						<li><a href="#">lecture 6</a></li>
						<li><a href="#">lecture 7</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<!--footer-->
		<div class="layout footer">
			<div class="container">
				<div class="layout">
					<div class="layout erwm">
						<img src="../../assets/image/code.jpg" />
					</div>
					<div class="layout columns">
						<h3>考试须知</h3>
						<ul>
							<li>
								<a href="javascript:;">雅思考试报名</a>
							</li>
							<li>
								<a href="javascript:;">雅思考试报名</a>
							</li>
							<li>
								<a href="javascript:;">雅思考试报名</a>
							</li>
							<li>
								<a href="javascript:;">雅思考试报名</a>
							</li>
						</ul>
					</div>
					<div class="layout columns">
						<h3>考试须知</h3>
						<ul>
							<li>
								<a href="javascript:;">雅思考试报名</a>
							</li>
							<li>
								<a href="javascript:;">雅思考试报名</a>
							</li>
							<li>
								<a href="javascript:;">雅思考试报名</a>
							</li>
							<li>
								<a href="javascript:;">雅思考试报名</a>
							</li>
						</ul>
					</div>
					<div class="layout columns">
						<h3>考试须知</h3>
						<ul>
							<li>
								<a href="javascript:;">雅思考试报名</a>
							</li>
							<li>
								<a href="javascript:;">雅思考试报名</a>
							</li>
							<li>
								<a href="javascript:;">雅思考试报名</a>
							</li>
							<li>
								<a href="javascript:;">雅思考试报名</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="../../assets/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="top.js" type="text/javascript" charset="utf-8"></script>

</html>